<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sumit Fax</h1>
        <div class=""callout">
            Submit your fun animal facts here.
        </div>
        <div class="facts-container">
            <form>
                <label for="submitter">
                    <h2>Name</h2>
                </label>
                <br/>
                <label for="fact">
                    <h2>Fact</h2>
                </label>
                <textarea name="fact"></textarea>
                <br/>
                <input type="submit" value="Submit">
            </form>
        </div>
        <a href="/pets">Go back</a>
    </div>
</body>
</html>